.projects {
    background-color: #DDDDDD;
    padding-top: 50px;
    padding-bottom: 10px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 780px) {
    .projects {
        padding-bottom: 80px;
    }

    .project-cards {
        flex-direction: row;
    }
}