.project-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.project-card img {
    width: 90%;
}

.project-card__links {
    display: flex;
    justify-content: space-between;
}

.project-card__links Button {
    margin-top: 10px;
    background-color: #DDDDDD;
    color: black;
    width: 48%;
}

.project-card__links Button i {
    margin-right: 2px;
}

@media screen and (min-width: 780px) {
    .project-card {
        margin: 20px 50px 20px 50px;
    }

    .project-card h3 {
        font-size: 25px;
    }
}